.bg-picture {
  background-size: cover;
  background: no-repeat fixed;
  .username {
    color: $username;
    font-style: italic;
    @media (min-width: $screen-md) {
      font-size: 30px;
    }
  }
}
.navbar {
  margin-bottom: 0;
}
.navbar-brand {
  padding: 3px 10px;
  @media (max-width: $screen-md ) {
    padding: 3px 2px;
  }
  @media (max-width: $screen-xs ) {
    position: absolute;
  }
  > img {
    width: 60%;
  }
}

.navbar-purple {
  border-radius: 0;
  background-color: $navbar-purple-bg;
  border-color: $navbar-purple-border;

  .navbar-brand {
    color: $navbar-purple-brand-color;
    &:hover,
    &:focus {
      color: $navbar-purple-brand-hover-color;
      background-color: $navbar-purple-brand-hover-bg;
    }
  }

  .navbar-text {
    color: $navbar-purple-color;
  }

  .navbar-nav {
    > li > a {
      color: $navbar-purple-link-color;

      &:hover,
      &:focus {
        color: $navbar-purple-link-hover-color;
        background-color: $navbar-purple-link-hover-bg;
        transition: all .3s linear;
      }
    }
    > .current-menu-item > a {
      color: $navbar-purple-link-active-color;
    }
    > .current-menu-item, .active > a {
      &,
      &:hover,
      &:focus {
        color: $navbar-purple-link-active-color;
        background-color: $navbar-purple-link-active-bg;
      }
    }
    > .disabled > a {
      &,
      &:hover,
      &:focus {
        color: $navbar-purple-link-disabled-color;
        background-color: $navbar-purple-link-disabled-bg;
      }
    }
  }

  // Darken the responsive nav toggle
  .navbar-toggle {
    border-color: $navbar-purple-toggle-border-color;
    background-color: $brand-menu-hover;
    @media (max-width: $screen-xs ) {
      z-index: 1;
    }
    &:hover,
    &:focus {
      background-color: $navbar-purple-toggle-hover-bg;
    }
    .icon-bar {
      background-color: $navbar-purple-toggle-icon-bar-bg;
    }
  }

  .navbar-collapse,
  .navbar-form {
    border-color: darken($navbar-purple-bg, 7%);
  }

  // Dropdowns
  .navbar-nav {
    > .open > a {
      &,
      &:hover,
      &:focus {
        background-color: $navbar-purple-link-active-bg;
        color: $navbar-purple-link-active-color;
      }
    }

    @media (max-width: $grid-float-breakpoint-max) {
      // Dropdowns get custom display
      .open .dropdown-menu {
        > .dropdown-header {
          border-color: $navbar-purple-border;
        }
        .divider {
          background-color: $navbar-purple-border;
        }
        > li > a {
          color: $navbar-purple-link-color;
          &:hover,
          &:focus {
            color: $navbar-purple-link-hover-color;
            background-color: $navbar-purple-link-hover-bg;
          }
        }
        > .current-menu-item, .active > a {
          &,
          &:hover,
          &:focus {
            color: $navbar-purple-link-active-color;
            background-color: $navbar-purple-link-active-bg;
          }
        }
        > .disabled > a {
          &,
          &:hover,
          &:focus {
            color: $navbar-purple-link-disabled-color;
            background-color: $navbar-purple-link-disabled-bg;
          }
        }
      }
    }
  }

  .navbar-link {
    color: $navbar-purple-link-color;
    &:hover {
      color: $navbar-purple-link-hover-color;
    }
  }

  .btn-link {
    color: $navbar-purple-link-color;
    &:hover,
    &:focus {
      color: $navbar-purple-link-hover-color;
    }
    &[disabled],
    fieldset[disabled] & {
      &:hover,
      &:focus {
        color: $navbar-purple-link-disabled-color;
      }
    }
  }
}

ul.social {
  .instagram {
    .fa {
      @extend .fa-instagram;
    }
  }
  .facebook {
    .fa {
      @extend .fa-facebook;
    }
  }
  .twitter {
    .fa {
      @extend .fa-twitter;
    }
  }
  .pinterest {
    .fa {
      @extend .fa-pinterest-p;
    }
  }
  .linkedin {
    .fa {
      @extend .fa-linkedin;
    }
  }
  .youtube {
    .fa {
      @extend .fa-youtube;
    }
  }
  .behance {
    .fa {
      @extend .fa-behance;
    }
  }
  .snapchat {
    .fa {
      @extend .fa-snapchat-ghost;
    }
  }
  &.purple {
    & .fa-gradient {
      &:hover {
        background: $brand-purple-2;
        transition: all .3s linear;
        & .fa {
          transition: all .3s linear;
          @extend .fa-inverse;
        }
      }
    }
  }
}