.pad {
  &-top-15 {
    padding-top: 15px;
  }
  &-btn-15 {
    padding-bottom: 15px;
  }
}
@media (min-width: $screen-md) {
  .vertical-align {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
  }
}
.center-table {
  display: table;
  margin: 20px 0;
  height: 200px;
  @media (min-width: $screen-sm) {
    @include size(auto, 220px);
    margin: 20px;
  }
  @media (min-width: $screen-md) {
    @include size(auto, 350px);
  }
}
.center-table p {
  display: table-cell;
  margin: 0;
  color: white;
  font-size: 3.5rem;
  border-radius: 50%;
  @media (min-width: $screen-md) {
    font-size: 5.8rem;
  }
  vertical-align: middle;
  &.reg {
    line-height: normal;
  }
  &.bg-shadow {
    background: radial-gradient(circle at center, rgba(40, 52, 59, 0.10) 1%, rgba(255, 255, 255, 0.01) 70%);
  }
}

@include text-emphasis-variant('.text-purple', $brand-purple);
@include text-emphasis-variant('.text-gray', $brand-gray);
@include text-emphasis-variant('.text-gray-dark', $brand-gray-dark);
@include text-emphasis-variant('.text-purple-2', $brand-purple-2);

.fa-stack {
  @media (min-width: $screen-sm) {
    &.fa-rest {
      font-size: 3rem;
    }
  }
  @media (min-width: $screen-md) {
    &.fa-rest {
      font-size: 4rem;
    }
  }
}
.bg-dark-gray {
  background-color: #e3e3e3;
}