.pad {
  &-top-15 {
    padding-top: 15px;
  }
  &-btn-15 {
    padding-bottom: 15px;
  }
}
.inline-block {
  display: inline-block;
}
a {
  &.link-black {
    color: $brand-black;
  }
}
@media (min-width: $screen-md) {
  .vertical-align {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
  }
}
.center-table {
  display: table;
  margin: 20px 0;
  height: 200px;
  @media (min-width: $screen-sm) {
    @include size(auto, 220px);
    margin: 20px;
  }
  @media (min-width: $screen-md) {
    @include size(auto, 350px);
  }
}
.center-table p {
  display: table-cell;
  margin: 0;
  color: $brand-white;
  font-size: 3.5rem;
  border-radius: 50%;
  @media (min-width: $screen-md) {
    font-size: 5.8rem;
  }
  vertical-align: middle;
  &.reg {
    line-height: normal;
  }
  &.bg-shadow {
    background: radial-gradient(circle at center, rgba(40, 52, 59, 0.10) 1%, rgba(255, 255, 255, 0.01) 70%);
  }
}

@include text-emphasis-variant('.text-purple', $brand-purple);
@include text-emphasis-variant('.text-gray', $brand-gray);
@include text-emphasis-variant('.text-gray-dark', $brand-gray-dark);
@include text-emphasis-variant('.text-purple-2', $brand-purple-2);
@include text-emphasis-variant('.text-white', $brand-white);

.fa-stack {
  @media (min-width: $screen-sm) {
    &.fa-rest {
      font-size: 3rem;
    }
  }
  @media (min-width: $screen-md) {
    &.fa-rest {
      font-size: 4rem;
    }
  }
}
.slick-dots {
  display: none !important;
}
.slick-prev, .slick-next {
  @extend .btn-purple;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  &:before {
    line-height: 1.6;
  }
  @media (max-width: $screen-sm) {
    display: none !important;
  }
}
.slick-prev {
  left: -45px;
}
.slick-next {
  right: -45px;
}
.firma-soluciones {
  height: 20px;
  display: inline;
}
.img-modal {
  width: 180px;
  @include box-shadow(0 0 15px rgba(0,0,0,.5));
}
.entry-author {
  @extend .alert;
  &.single {
    @include alert-variant($alert-info-2-bg, $alert-info-2-border, $alert-info-2-text);
  }
  .fa {
    margin: auto 5px;
    border-right: 1px solid $brand-gray;
    padding: 0 7px;
  }
}