// Colors

$gray-base:              #000 !default;
$gray-darker:            lighten($gray-base, 13.5%) !default; // #222
$gray-dark:              lighten($gray-base, 20%) !default;   // #333
$gray:                   lighten($gray-base, 33.5%) !default; // #555
$gray-light:             lighten($gray-base, 46.7%) !default; // #777
$gray-lighter:           lighten($gray-base, 93.5%) !default; // #eee
$gray-ecece:             #ECECEC !default; // #ECECEC

//$brand-primary:         #27ae60;
$brand-purple:          #690462 !default;
$brand-purple-2:        #d321d1 !default;
$brand-menu-hover:      #dbd2da !default;
$brand-gray:            #848484 !default;
$brand-gray-fa:         #FAFAFA !default;
$brand-gray-dark:       #6c6d6e !default;
$brand-blue-white:      #f0f8fc !default;
$brand-blue:            #1e73be !default;
$brand-white:           #fff !default;
$brand-black:           #000 !default;

$state-purple-text:              #FFF !default;
//** Purple
$state-purple-bg:                $brand-purple !default;
$state-purple-border:            darken(adjust-hue($state-purple-bg, -10), 5%) !default;
//** Purple 2
$state-purple-bg-2:                $brand-purple-2 !default;
$state-purple-border-2:            darken(adjust-hue($state-purple-bg-2, -10), 5%) !default;

//** Global textual link color.
$link-hover-decoration: none !default;

//  Button Purple
$btn-purple-color:              #fff !default;
$btn-purple-bg:                 $brand-purple-2 !default;
$btn-purple-border:             darken($btn-purple-bg, 5%) !default;

// Navbar Purple
$navbar-purple-color:                       lighten($gray-light, 15%) !default;
$navbar-purple-bg:                          $brand-purple !default;
$navbar-purple-border:                      darken($navbar-purple-bg, 10%) !default;

// Inverted navbar links
$navbar-purple-link-color:                 lighten(#fff, 15%) !default;
$navbar-purple-link-hover-color:           darken($navbar-purple-bg, 10%) !default;
$navbar-purple-link-hover-bg:              $brand-menu-hover !default;
$navbar-purple-link-active-color:          $navbar-purple-link-hover-color !default;
$navbar-purple-link-active-bg:             $brand-menu-hover !default;
$navbar-purple-link-disabled-color:        #444 !default;
$navbar-purple-link-disabled-bg:           transparent !default;

// Inverted navbar brand label
$navbar-purple-brand-color:                $navbar-purple-link-color !default;
$navbar-purple-brand-hover-color:          #fff !default;
$navbar-purple-brand-hover-bg:             transparent !default;

// Inverted navbar toggle
$navbar-purple-toggle-hover-bg:            $brand-menu-hover !default;
$navbar-purple-toggle-icon-bar-bg:         #333 !default;
$navbar-purple-toggle-border-color:        $brand-menu-hover !default;

// Regular Font
$regular-font-path:        "../fonts" !default;
$regular-font-size-base:   14px !default;
$regular-line-height-base: 1 !default;
$regular-css-prefix:       reg !default;
$regular-version:          "1.0" !default;

// Regular Font
$helvetica-font-path:        "../fonts" !default;
$helvetica-font-size-base:   14px !default;
$helvetica-line-height-base: 1 !default;
$helvetica-css-prefix:       helve !default;
$helvetica-version:          "1.0" !default;

$username: #2a4b78;

$font-size-base:          14px !default;
$font-size-h7:            ceil(($font-size-base * 0.70)) !default; // ~10px

//== Panels
//
//** Border color for elements within panels
//** Purple
$panel-purple-text:           $state-purple-text !default;
$panel-purple-border:         $state-purple-border !default;
$panel-purple-heading-bg:     $state-purple-bg !default;
//** Purple 2
$panel-purple-2-border:         $state-purple-border-2 !default;
$panel-purple-2-heading-bg:     $state-purple-bg-2 !default;

$modal-md-jema:     440px !default;

//== Form states and alerts
//
//## Define colors for form feedback states and, by default, alerts.

$state-info-2-text:                #5dc1ce !default;
$state-info-2-bg:                  #b8dbfe !default;
$state-info-2-border:              darken(adjust-hue($state-info-2-bg, -10), 7%) !default;


$alert-info-2-bg:            $state-info-2-bg !default;
$alert-info-2-text:          $state-info-2-text !default;
$alert-info-2-border:        $state-info-2-border !default;

$font-family-sans-serif:  'Myriad pro';
